* {
	padding: 0;
	margin: 0;
	font-family: 'Century Gothic', sans-serif;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

*:before,*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	background: url("../img/woody.jpg") no-repeat center center fixed;
	background-color: #605951;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	
}

nav {
	background: #fff;
	height: 50px;
}

nav ul {
	height: 40px;
	width: 400px;
	margin: 0 auto;
}

nav ul li {
	list-style-type: none;
	width: 100px;
	float: left;
	text-align: center;
}

nav ul li a {
	display: block;
	text-decoration: none;
	color: black;
	line-height: 40px;
}

nav ul li a:hover {
	background-color: #c3d95d;
	font-weight: bold;
}

th {
	font-size: 14px;
	font-weight: normal;
	text-align: left;
}

input {
	vertical-align:;
}

#wrapper {
	width: 900px;
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
}

#header {
	font-size: 13px;
	width: 900px;
	height: 100%;
	margin-top: 20px;
	margin-bottom: 5px;
	padding: 5px;
	background: #c1b398;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}


#main {
	font-size: 13px;
	width: 900px;
	margin-bottom: 5px;
	padding: 5px;
	background: #c1b398;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

#main_lista {
	font-size: 13px;
	width: 900px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 5px;
	background: #bfaf80;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

#footer {
	color: darkgray;
	font-size: 11px;
	text-align: center;
	width: 900px;
	height: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 5px;
}

#banner {
	font-size: 28px;
	text-align: center;
	width: 890px;
	height: 155px;
	background: #f1efd8;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

#admin_banner {
	font-size: 28px;
	text-align: center;
	width: 890px;
	height: 100%;
	padding-top: 5px;
	background: #f1efd8;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

#nav {
	width: 890px;
	height: 40px;
	background: #f1efd8;
	box-shadow: 0 1px 1px 2px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, .1);
	-webkit-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, .1);
}

.logo {
	padding: 0;
	margin: 0;
	width: 890px;
	height: 155px;
}

.mekuva {
	display: block;
	margin: 0 auto;
	width: 250px;
	height: 250px;
}

.nav-bar-active {
	height: 40px;
	border-bottom: 4px solid #c3d95d;
}

.nav-bar2 {
	
}

.h3 {
	font-weight: normal;
}

#main_col {
	font-size: 13px;
	width: 890px;
	padding: 5px;
	margin-bottom: 5px;
	background: #f1efd8;
	box-shadow: 0 1px 1px 2px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, .1);
	-webkit-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, .1);
}

#left_col {
	float: left;
	font-size: 13px;
	width: 442px;
	height: 275px;
	padding: 10px;
	background: #f1efd8;
	box-shadow: 0 1px 1px 2px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, .1);
	-webkit-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, .1);
}

#right_col {
	float: right;
	font-size: 13px;
	width: 442px;
	height: 275px;
	padding: 5px;
	background: #f1efd8;
	box-shadow: 0 1px 1px 2px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, .1);
	-webkit-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, .1);
}

#content {
	font-size: 13px;
	width: 890px;
	height: 100%;
	padding: 10px;
	background: #f1efd8;
	box-shadow: 0 1px 1px 2px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, .1);
	-webkit-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, .1);
}

#pizzalista {
	font-size: 13px;
	padding-top: 10px;
	padding-bottom: 10px;
	background: #f1efd8;
	margin-bottom: 5px;
	box-shadow: 0 1px 1px 2px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, .1);
	-webkit-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, .1);
}

#pizzablock {
	margin: 0 auto;
	display: block;
	width: 65%;
}

#juomalista {
	font-size: 13px;
	padding-top: 10px;
	padding-bottom: 10px;
	background: #f1efd8;
	box-shadow: 0 1px 1px 2px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, .1);
	-webkit-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, .1);
}

#me {
	font-size: 13px;
	width: 890px;
	height: 100%;
	padding: 5px;
	background: #f1efd8;
	box-shadow: 0 1px 1px 2px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, .1);
	-webkit-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, .1);
}

.admin_col {
	font-size: 13px;
	width: 890px;
	padding: 5px;
	padding-bottom: 10px;
	margin-bottom: 5px;
	background: #f1efd8;
	box-shadow: 0 1px 1px 2px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, .1);
	-webkit-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, .1);
}

.admin_msg {
	font-size: 13px;
	width: 890px;
	padding: 5px;
	margin-bottom: 5px;
	background: #e7e2ca;
	box-shadow: 0 1px 1px 2px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, .1);
	-webkit-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, .1);
}

.clear {
	clear: both;
}

.block {
	display: block;
}

.rite {
	text-align: right;
}

.left {
	float: left;
}

.viiva {
	text-align: left;
	border: 0;
	height: 2px;
	width: 200px;
	color: #c3d95d;
	background: #c3d95d;
	margin-bottom: 8px;
}

.kviiva {
	text-align: left;
	border: 0;
	height: 2px;
	color: #c3d95d;
	background: #c3d95d;
	margin-bottom: 8px;
}

.pviiva {
	text-align: left;
	border: 0;
	height: 2px;
	width: 575px;
	color: #c3d95d;
	background: #c3d95d;
	margin-bottom: 8px;
}

.ktaulu:nth(even) {
	background: #fff;
}

.pizza {
	width: 880px;
	height: 300px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

.infotaulu {
	
}

.otsikko {
	font-size: 16px;
	margin-bottom: 5px;
}

.aotsikko {
	font-size: 24px;
	margin-bottom: 5px;
}

.irivi {
	width: 45px;
	height: 42px;
	vertical-align: middle;
}

.kuva {
	width: 35px;
}

.kentta {
	text-align: center;
	width: 25px;
}

.nappula {
	height: 20px;
	width: 50px;
	background-color: #c3d95d;
	border: 1px solid #666;
	color: #000;
	text-decoration: none;
}

.hnappula {
	height: 20px;
	width: 50px;
	border: 1px solid #666;
	color: #000;
	text-decoration: none;
}

.piilotanappula {
	height: 20px;
	width: 50px;
	background-color: #e3c686;
	border: 1px solid #666;
	color: #000;
	text-decoration: none;
}

.pnappula {
	height: 20px;
	width: 50px;
	background-color: #d46148;
	border: 1px solid #666;
	color: #000;
	text-decoration: none;
}

.tosoite {
	width: 300px;
}

.tnappula {
	height: 20px;
	padding-left: 2px;
	padding-right: 2px;
	background-color: #c3d95d;
	border: 1px solid #666;
	color: #000;
	text-decoration: none;
}

.tnappular {
	text-align: right;
	height: 20px;
	padding-left: 2px;
	padding-right: 2px;
	background-color: #c3d95d;
	border: 1px solid #666;
	color: #000;
	text-decoration: none;
}

.ptaulu {
	margin-bottom: 8px;
}

.pnimi {
	font-size: 15px;
	width: 410px;
}

.knimi {
	font-size: 15px;
	width: 410px;
	text-align: right;
}

.phinta {
	font-size: 15px;
	text-align: right;
}

.ptayte {
	font-size: 13px;
}

.pmauste {
	
}

.pmauste input {
	vertical-align: -2px;
}

.tnimi {
	width: 150px;
}

.mnimi {
	font-size: 12px;
	font-style: italic;
}

.del_nappi {
	height: 20px;
	width: 20px;
	vertical-align: middle;
}

.napit {
	height: 20px;
	width: 20px;
	background:rgba(0,0,0,0);
}

.napit tr td form {
		background:rgba(0,0,0,0);
}
.napit tr td form input {
	height: 20px;
	width: 20px;
	background:rgba(0,0,0,0);
}

.taulukko {
	border-collapse: collapse;
	align: middle;
}

.taulukko tr:nth-child(odd) {
	background: #f1efd8;
}

.taulukko tr:nth-child(even) {
	background-color:rgba(193,179,152,0.2);
}

.c_id {
	width: 30px;
	text-align: center;
}

.c_nimi {
	width: 150px;
}

.c_tayte {
	width: 280px;
}

.c_hinta {
	width: 90px;
}

.c_nappula {
	width: 50px;
	text-align: right;
}

.p_alas {
	text-align: right;
}

#muru_step {
	
}

ul.muru li {
	height: 35px;
	float: left;
	width: 90px;
	text-align: center;
}

.muru_text_todo {
	font-style: italic;
}

.muru_text_current {
	color: #788f49;
	font-weight: bold;
}

ul.muru li.muru_current {
	background: url('../img/alkupallo.png') no-repeat scroll left bottom
		transparent;
}

ul.muru li.muru_alkudone {
	background: url('../img/taytalkupallo.png') no-repeat scroll left bottom
		transparent;
}

ul.muru li.muru_keskipuoldone {
	background: url('../img/puoltaytkeskpallo.png') no-repeat scroll left
		bottom transparent;
}

ul.muru li.muru_keskidone {
	background: url('../img/keskdonepallo.png') no-repeat scroll left bottom
		transparent;
}

ul.muru li.muru_loppudone {
	background: url('../img/loppudonepallo.png') no-repeat scroll left
		bottom transparent;
}

ul.muru {
	list-style: outside none none;
}

ul.muru li.muru_todo {
	background: url('../img/kesktyhjpallo.png') no-repeat scroll left bottom
		transparent;
}

ul.muru li.muru_loppu {
	background: url('../img/loptyhjpallo.png') no-repeat scroll left bottom
		transparent;
}

ul.muru li#muru_end {
	
}

ul.muru li#muru_end {
	width: 80px;
}

.muru {
	list-style: outside none none;
	margin: 0.8em auto 2em;
	padding-left: 40px;
	height: 35px;
	width: 465px;
}

#leijuvaKori {
	font-size: 13px;
	width: 300px;
	height: 100%;
	width: 100%;
	overflow: auto;
	padding: 10px;
	background: #f1efd8;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

#greenKori {
	position: fixed;
	top: 0px;
	margin-left: auto;
	margin-right: auto;
	-webkit-box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, .1);
	box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, .1);
	background-color: #ffffff;
	float: right;
	font-size: 50px;
	background: #91ce5a;
	color: #ffffff;
	text-align: center;
	height: 80px;
	width: 900px;
	overflow: hidden;
	z-index: 3;
}

#greenKori:hover {
	position: fixed;
	top: 0px;
	margin-left: auto;
	margin-right: auto;
	-webkit-box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, .1);
	box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, .1);
	background-color: #ffffff;
	float: right;
	font-size: 50px;
	background: #7EB54E;
	color: #ffffff;
	text-align: center;
	height: 80px;
	width: 900px;
	overflow: hidden;
	cursor: pointer;
	cursor: hand;
	z-index: 3;
}

.cart {
	position: fixed;
	top: 260px;
	right: 5px;
	vertical-align: middle;
	margin-left: 100px;
	margin-right: 100px;
	-webkit-box-shadow: 0px 0px 0px 5px #c1b398;
	-moz-box-shadow: 0px 0px 0px 5px #c1b398;
	box-shadow: 0px 0px 0px 5px #c1b398;
	background-color: #f1efd8;
	float: right;
	height: 395px;
	width: 15%;
	overflow: hidden;
}

.scart {
	position: fixed;
	top: 75px;
	margin-left: auto;
	margin-right: auto;
	-webkit-box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, .1);
	box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, .1);
	background-color: #ffffff;
	float: right;
	font-size: 13px;
	background: #f1efd8;
	height: 180px;
	width: 900px;
	overflow: hidden;
	display: none;
}

#nappi {
	background-color: #d46148;
	color: #000;
}

#TyhOst {
	position: absolute;
	right: 25px;
	top: 15px;
	float: right;
	font-size: 50;
	padding-left: 10px;
	padding-right: 10px;
}

.vali {
	width:200px;	
}

#TyhOstSmall {
	position: fixed;
	right: 105px;
	top: 660px;
	float: right;
	font-size: 50;
	padding-left: 10px;
	padding-right: 10px;
	background: #f1efd8;
	width: 300px;
	width: 15%;
	padding: 5px;
	-webkit-box-shadow: 0px 0px 0px 5px #c1b398;
	-moz-box-shadow: 0px 0px 0px 5px #c1b398;
	box-shadow: 0px 0px 0px 5px #c1b398;
}

.floatLogo {
	position: absolute;
	right: 150px;
	top: 15px;
	float: right;
	opacity: 0.9;
}

.isoNappula {
	height: 40px;
	width: 80px;
	background-color: #c3d95d;
	border: 1px solid #666;
	color: #000;
	font-size: 15px;
	text-decoration: none;
}

#login {
	margin-top: 50px;
	font-size: 20px;
	width: 420px;
	margin-bottom: 5px;
	background: #f1efd8;
	-webkit-box-shadow: 0px 0px 0px 5px #c1b398;
	-moz-box-shadow: 0px 0px 0px 5px #c1b398;
	box-shadow: 0px 0px 0px 5px #c1b398;
}